<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1 id="logo-type">Battle Shipping</h1>
  </header>

  <main>
    <!-- display turn & win section -->
    <div id="info">
      <section id="human-fleet">
        <h5>Human fleet</h5>
      </section>
      <section id="dialogue">
        <div>
          <p>Get ready to play Battleships</p>
          <button onclick="location.reload()">Play new game</button>
        </div>
      </section>
      <section id="computer-fleet">
        <h5>Computer fleet</h5>
      </section>
    </div>

    <div id="boards">
      <section id="humans-board">
      </section>
      <section id="computers-board">
      </section>
    </div>

  </main>
  
  
</body>
</html>

