<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="confetti-container"></div>
  <header>
    <h1 id="logo-type">Battleships<span>💣</span></h1>
  </header>

  <main>
    <!-- display turn & win section -->
    <div id="info">
      <section id="dialogue">
        <div>
          <p></p>
          <button onclick="location.reload()">Play new game</button>
        </div>
      </section>
    </div>
    <div id="boards">
      <section id="human-board">
      </section>
      <section id="computer-board">
      </section>
    </div>
  </main>
  
</body>
</html>

