<h3 class="board-title"></h3>
<table id="humans-board">
  <tr id="row-a">
    <td class="col-1">Hey</td>
    <td class="col-2">You</td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-b">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-c">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-d">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-e">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-f">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-g">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-h">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-i">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
  <tr id="row-j">
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td class="col-5"></td>
    <td class="col-6"></td>
    <td class="col-7"></td>
    <td class="col-8"></td>
    <td class="col-9"></td>
    <td class="col-10"></td>
  </tr>
</table>