<div class="fleet-grid">
  <div class="grid-item ship carrier"></div>
  <div class="grid-item ship carrier"></div>
  <div class="grid-item ship carrier"></div>
  <div class="grid-item ship carrier"></div>
  <div class="grid-item ship carrier"></div>

  <div class="grid-item ship battleship"></div>
  <div class="grid-item ship battleship"></div>
  <div class="grid-item ship battleship"></div>
  <div class="grid-item ship battleship"></div>

  <div class="grid-item ship cruiser"></div>
  <div class="grid-item ship cruiser"></div>
  <div class="grid-item ship cruiser"></div>

  <div class="grid-item ship submarine"></div>
  <div class="grid-item ship submarine"></div>
  <div class="grid-item ship submarine"></div>

  <div class="grid-item ship destroyer"></div>
  <div class="grid-item ship destroyer"></div>
</div>